ion-header {
  margin-bottom: 25%;
}
  ion-label {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
  }
  ion-card{
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-align: center;
  }
  .center {
    text-align: center;
    margin-bottom: 10%;
  }
  .score {
    font-size: 35px;
  }
  .minus {
    font-size: 25px;
  }
  .plus {
    font-size: 25px;
  }