<ion-header>
  <ion-toolbar>
    <ion-title>Punktide lugemine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label color="dark">
    <p class="label">{{game}}</p>
  </ion-label>

  <ion-card>
    <ion-label color="dark">
      <ion-item>
       <p class="label">{{teamOne}}</p>
      </ion-item>
    </ion-label>
  </ion-card>
  <ion-label color="dark">
    <ion-button (click)="oneDisLike()">-</ion-button>    
    <ion-button>{{oneLikeValue}}</ion-button>    
    <ion-button (click)="oneLike()">+</ion-button>   
  </ion-label>
  <ion-card>
    <ion-label color="dark">
      <p class="label">{{teamTwo}}</p>
    </ion-label>
  </ion-card>
  <ion-label color="dark">
    <ion-button (click)="twoDisLike()">-</ion-button>    
    <ion-button>{{twoLikeValue}}</ion-button>    
    <ion-button (click)="twoLike()">+</ion-button>   
  </ion-label>
  <div>
  <p><ion-button size="large" shape="round" [routerLink]="['/result', game, teamOne, teamTwo, oneLikeValue, twoLikeValue]">Lõpeta punktide lugemine</ion-button></p>  
  </div>
</ion-content>
  
