
  .icon-plus {
    font-size: 40px;
    margin: auto;
  }
  .icon-minus {
    font-size: 40px;
    margin: auto;
  }
  .value {
    font-size: 60px;
    text-align: center;
  }
  ion-label {
    
  }
  ion-label p {
    text-align: center;
    font-size: 30px;
    margin-top: 5%;
  }
  .minus {
    margin-top: 23px;
  }
  .plus{
    margin-top: 23px;
  }
  .points{

  }
  .label{
    padding-top: 30px;
    margin-bottom: 50px;
  }
  ion-card{
    border-style: solid;
    border-width: 1px;
    border-color: white;
  }
  p{
    text-align: center; 
  }
  