<ion-header>
  <ion-toolbar>
    <ion-title>Info sisestamine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
     
  <ion-label>
    Mängu nimi
  </ion-label>
    
  <!--siin määrame igale sisendile muutuja -->
  <ion-card>  
    <ion-input [(ngModel)]="game" type="text">
    </ion-input>
  </ion-card>
  <ion-label>
     Tiim 1 
  </ion-label>
  <ion-card>
    <ion-input [(ngModel)]="teamOne" type="string">
    </ion-input>
  </ion-card>
  <ion-label>
    Tiim 2
  </ion-label>
  <ion-card>
    <ion-input [(ngModel)]="teamTwo" type="text">
    </ion-input>
  </ion-card>
  <!--siin määrame ära kuhu alusta nupp viib ja mis muutujad sellega kaasa lähevad-->
  <ion-button size="large" shape="round" [routerLink]="['/score', game, teamOne, teamTwo]">
    Alusta
  </ion-button>
  <ion-button size="large" shape="round" [routerLink]="['/home']">
    Tagasi
  </ion-button>
  
</ion-content>
